<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>xin chao the gioi</h1>

    <img src="../imgs/pic2.jpeg" alt="">


    <link rel="stylesheet" href="../public/style.css">
</body>
</html>